html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-position: 0px 0px;
  top: 0;
}
.container {
  flex: 1;
  height: 40px;
  padding-top: 15px;
}
.triangle {
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom right, #fff 0%, #fff 57%,rgba(53, 92, 125, 0.5)  70%,rgba(254, 67, 101, 0.5) 73%, rgba(53, 92, 125, 0.5) 75%, #fff 90%, #fff 100%);
}
.main {
  flex: 1;
  width: 100%;
  margin: auto;
  padding-top: 60px;
}
.footer{
  flex-shrink: 0;
  background-color: #355C7D;
  color: #fff;
  bottom: 0px;
  box-shadow: 0 -3px 5px rgba(53, 92, 125, 0.5);
}
.footer-upper{
  position: relative;
  text-align: center;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(53, 92, 125, 0.6);
  padding: 5px 100px;
  border-radius: 5px;
}
.footer-upper img{
  padding: 0px;
  object-fit: cover;
  width: 100%;
  height: 260px;
  /* -webkit-filter: blur(0.5px);
  filter: blur(0.5px); */
}
td, th {
  color: #314455;
  text-align: center;
  vertical-align: middle;
}

h1 {
  color: #FE4365;
}

h2, h3, h4, h5, h6{
  color: #355C7D;
} 

p {
  color: black !important;
}

a {
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #FE4365;
}

.btn {
  border-radius:5px;
}
.footer-head {
  color: #fff;
}
.proposal {
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #FE4365;
  color: #fff;
  border: 1px solid #fff;
}
.proposal:hover {
  background-color: #fff;
  color: #FE4365;
  border: 1px solid #FE4365;

}

/******* TIMELINE ********/
#timeline ul {
  padding: 0;
}
/* Create Line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 100%;
  padding-top: 50px;
}
/* Boxes */
#timeline ul li div{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  /* border: 2px solid #FE4365;
  border-radius: 5px; */
  transition: all 0.5s ease-in-out;
}
.project_desc li {
  color: black;
  list-style-type: circle;
  text-align: left;
}

/******* BIG FORM ********/
.project_plan {
  background-color: rgba(254, 67, 101, 0.1);
}
.project_intro{
  width: 70%;
  margin: auto;
}
.btn {
  background-color: #FE4365;
  color: #fff;
}
.btn:hover {
  background-color: #355C7D;
  color: #fff;
}
.promo {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 45px; 
  color: #fff;
  background-color: #FE4365;
  border: solid 2px #FE4365;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 7px;
  text-align: center;
}
.promo:hover {
  border: solid 2px #FE4365;
  background-color: #fff;
  color: #FE4365;
}
.privacy-link {
  color: #FE4365;
}
.privacy-link:hover {
  text-decoration: underline;
}
.privacy h4 {
  padding-top: 20px;
  padding-bottom: 10px;
}

/******* GO TO TOP BUTTON ********/
.gotop {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FE4365;
  bottom: 40px;
  right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  text-align: center;
}


/****** NAVBAR ******/
.header-fix {
  top: 0;
  width: 100%; 
  border-bottom: 1px solid #fff;
}

.navbar {
  position: relative;
  z-index: 100;
  
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(254, 67, 101, 0.5);
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  border-radius: 5px;
}

.nav-link {
  color: #FE4365;
}
.nav-link-small {
  font-size: 0.9rem;
  color: #FE4365;
}
.nav-link-small:hover {
  background-color: #fff;
  text-decoration: underline;
}
.fa {
  color: #fff;
}

.bg-blue {
  background-color:#fff;
}

.text-blue {
  color: #355C7D;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #355C7D !important;
  transition: 300ms all ease;
  }

.navbar-default .navbar-toggle {
  border-color: transparent;
} 

.fa-bars {
  color: #FE4365;;
}
.fa-bars:hover {
  color: #355C7D;
}
.dropdown-menu {
  border-color: #FE4365;
  margin-left: 10px;
  border-radius: 10px;
}
.mydropdowncss:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

/******* SIDEBAR ********/

.sidebar {
  padding-bottom: 90px;
  width: 0;
  border-radius: 0 0 100% 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FE4365;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}
.sidebar .nav-item:hover {
  background-color: #355C7D;
}

.sidebar a {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #fff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 36px;
}
.sidebar .closebtn:hover {
 color: #355C7D;
}

/******* SKILLS ********/
.skill {
  display: flex;
}
.skills {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #FE4365;
  padding-right: 5px;
}

.list {
  width: 60%;
  margin-left: 20px;
}

.list li {
  text-align: left;
  padding: 5px !important;
}

/******* TRANSITIONS ********/
.big {
  display: block;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.big:hover {
  transform: rotate(180deg);
}


/******* ACCORDION ********/
.accordion {
  background-color: #355C7D;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  overflow: hidden;
  margin: auto;
  border-bottom: 1px solid #FE4365;
  line-height: 20px;
  font-size: 17px;
}
.acc_last {
  border-bottom: 1px solid #355C7D;
}

.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* .accordion {
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  margin-top: 40px;
}

.accordion .items .heading {
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
  padding-left: 15px;
  background-position: right 20px top -95px;
  border-bottom: 1px solid #FE4365;
  box-sizing: border-box;
}

.accordion .items .heading .fa-chevron-circle-down{
  float: right;
  padding: 15px;
}

.accordion .items.open .heading,
.accordion .items:last-child .heading {
  border: 0;
}

.accordion .items.open .heading {
  background-position: right 20px top -5px;
}

.accordion .items .content {
  padding: 0px 20px;
  background: #fff;
  font-size: 15px;
  height:0;
  overflow:hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion .items.open .content {
  height: auto;
  padding: 20px;
}

.color{
  background-color: #355C7D;
}

.content p {
  text-align: left; 
} */

/******* IMAGES ********/
img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
img:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.wide {
  width: 70%;
}
.narrow {
 width: 30%;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.project {
  width: 450px;
  margin-bottom: 50px;
  background-color: #333;
}

/******* HELP ********/
.help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 30px 0;
}
.help div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 2px;
  width: 200px;
	height: 200px;
  border-radius: 50%;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #355C7D 0%, #FE4365 100%, #FE4365 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #355C7D, #FE4365);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #355C7D 0%, #FE4365 100%,  #FE4365 95%);
  background-color: rgba(254, 67, 101, 0.35);
  font-size: 18px;
}

.help div:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 2px;
  width: 200px;
	height: 200px;
  border-radius: 50%;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #FE4365 0%, #355C7D 100%, #355C7D 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #FE4365, #355C7D);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #FE4365 0%, #355C7D 100%,  #355C7D 95%);
  background-color: rgba(254, 67, 101, 0.35);
  color: #fff;
}

@media screen and (min-width:993px) and (max-width:1200px){
  .inbox {width: 75%;}
  .users-list {
    width: 25%;
  }
  .project {
    width: 400px;
  }
}

@media screen and (min-width:771px) and (max-width:992px){
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 18px;}
  .main {padding-top: 0px !important;}
  .inbox {width: 75%;}
  .help {
    justify-content: space-evenly;
    align-content: space-evenly;
}
.promo {
  width: 70%;
}
.footer-upper h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.footer-upper h5 {
  font-size: 20px;
  padding-bottom: 5px;
}
.projects {
  display: flex;
  direction: column;
  justify-content: center;
  align-content: center;
}
}

@media screen and (min-width:601px) and (max-width:770px){
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 18px;}
  .main {padding-top: 0px !important;}
  .inbox {width: 75%;}
  .img {
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  .wide {
    width: 100%;
  }
  .narrow {
    width: 40%;
    height: 280px;
   margin: 0 auto;
  }
  .help {
    justify-content: space-evenly;
    align-content: space-evenly;
}
.help div {
  margin: 10px;
  width: 170px;
	height: 170px;
}
.promo {
  width: 70%;
}
.sidebar a {
  padding: 8px 20px 8px 10px;
}
.footer-upper h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.footer-upper h5 {
  font-size: 20px;
  padding-bottom: 5px;
}
.centered {
  padding: 5px;
  padding: 5px 50px;
}
.projects {
  display: flex;
  direction: column;
  justify-content: center;
  align-content: center;
}
.project {
  width: 400px;
}
}

@media screen and (min-width:401px) and (max-width:600px){
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 18px;}
  .main {padding-top: 0px !important;}
  .inbox {width: 100%;}

  .skill {
    flex-direction: column;
  }
  .skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-right: none;
    border-bottom: 1px solid #FE4365;
  }
  .list {
    width: 100%;
    margin-left: 0px;
  }
  .list li {
    text-align: center;
  }

  .img {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .wide {
    width: 100%;
  }
  .narrow {
  width: 40%;
  height: 250px;
  margin: 0 auto;
  }
  .help {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.promo {
  width: 70%;
}
.sidebar a {
  padding: 8px 20px 8px 10px;
}
.footer-upper h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.footer-upper h5 {
  font-size: 20px;
  padding-bottom: 5px;
}
.centered {
  padding: 5px 20px;
}
.projects {
  display: flex;
  direction: column;
  justify-content: center;
  align-content: center;
}
.project {
  width: 350px;
}
}
@media all and (max-width:400px){
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 18px;}
  .main {padding-top: 0px !important;}
  .inbox {width: 100%;}

  .skill {
    flex-direction: column;
  }
  .skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-right: none;
    border-bottom: 1px solid #FE4365;
  }
  .list {
    width: 100%;
    margin-left: 0px;
  }
  .list li {
    text-align: center;
  }

  .img {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .wide {
    width: 100%;
  }
  .narrow {
    width: 40%;
    height: 150px;
    margin: 0 auto;
    }
  .help {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.promo {
  width: 70%;
}
.sidebar a {
  padding: 8px 20px 8px 10px;
}
.footer-upper h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.footer-upper h5 {
  font-size: 20px;
  padding-bottom: 5px;
}
.centered {
  padding: 5px;
}

}
